<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
  </head>
  <body>
    <a href="{% url 'leads:lead-list' %}">Go Back to leads</a>
    <hr />
    <h1>This is details of {{ lead.first_name }}</h1>
    <p>Age of {{ lead.first_name }} is {{ lead.age }}</p>
    {% if lead.agent %}  
        <p>Agent response for lead is {{lead.agent}}</p>
    {% else %}
        <p>No Agent assigned yet</p>
    {% endif %}
    <hr />
    <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
    <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
  </body>
</html>