<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>

    </style>
  </head>
  <body>
    <a href="{% url 'leads:lead-list'%}">Go Back to leads</a>
    <hr />
    <h1>Update lead: {{ lead.first_name }} {{ lead.last_name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
  </body>
</html>