{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DJCRM</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input{
            background: #f1f1f1 !important;
            border: 1px solid gray !important;
            border-radius: 3px !important;
        }
    </style>
  </head>
  <body>
    <div class="max-w-7xl mx-auto">
        {% include "navbar.html" %}
        {% block content %}
        {% endblock %}
    </div>
    {% include "scripts.html" %}
  </body>
</html>